@import "shared/base.rasi"
@import "shared/fonts.rasi"
@import "~/.config/rofi/colors/oneHAKI.rasi"

listview {
    fixed-height: true;
}



window {
    width: 1300px;
}
* {
    font: "JetBrains Mono Nerd Font 13";
}
element {
    padding: 10px -20px;
    
}
element-text {
    horizontal-align: 0.0;
    vertical-align: 0.5;
}
entry {
    placeholder: "Search clipboard (Use WIN+SHIFT+V for advanced clipboard history through CopyQ)";
}
