@import 'colors.css';

/* =========================
GLOBAL RESET
========================= */

* {
  font-family: "Noto fonts";
  font-size: 14px;
  transition: 100ms;
  background-color: transparent;
  border: none;
  box-shadow: none;
  }

               
/* =========================
CONTROL CENTER CONTAINER
========================= */
.control-center {
background-color: alpha(@bg0, 0.85);
border-radius: 28px;
padding: 15bpx;
border: 2px solid alpha(@red, 0.38);
}

/* =========================
NOTIFICATIONS (BASE)
========================= */

.notification-content {
  background-color: alpha(@bg0, 0.65);
  border-radius: 18px;
  padding: 14px 18px;

  box-shadow:
    inset 0 0 0 2px alpha(@red, 0.5),
}

.notification-row {
    padding: 6px, 0;
}

/* =========================
NOTIFICATION TEXT
========================= */

.notification-content {
    min-width: 420px;
    max-width: 520px;
    padding: 18px 22px;
}

.notification-content .summary {
font-size: 15px;
font-weight: 600;
color: @white;
}

.notification-content .body {
font-size: 13px;
color: alpha(@white, 0.75);
margin-top: 4px;
}

.notification-content .time {
font-size: 11px;
color: alpha(@white, 0.5);
}

/* =========================
CRITICAL NOTIFICATIONS
========================= */
.notification.critical .notification-content {
background-color: #ffb4a9;
border-color: #ffb4a9;
}

.notification.critical label {
color: #680003;
}

/* =========================
CLOSE BUTTON
========================= */
.close-button {
background-color: transparent;
border-radius: 100%;
min-width: 20px;
min-height: 20px;
}

.close-button:hover {
background-color: alpha(@white, 0.15);
}

/* =========================
TITLE WIDGET
========================= */
.widget-title label {
font-size: 1.364rem;
color: #e4e1e6;
}

.widget-title button:hover {
background-color: alpha(@white, 0.15);
}

/* =========================
BUTTON GRID (TOGGLES)
========================= */
.widget-buttons-grid,
.widget-mpris {
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;
  padding: 0.341rem;
  background-color: alpha(@bg0, 0.8);
  padding: unset;
}

.widget-buttons-grid>flowbox {
  padding: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button:first-child {
  margin-left: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  border: none;
  background-color: unset;
  border-radius: 9999px;
  min-width: 5.522rem;
  min-height: 2.927rem;
  padding: unset;
  margin: unset;
}

.widget-buttons-grid>flowbox>flowboxchild>button label {
  font-family: "Materials Symbol Rounded";
  font-size: 1.3027rem;
  color: #e4e1e6;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background-color: rgba(128, 128, 128, 0.3);
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked {
  background-color: @red;
}

.widget-buttons-grid>flowbox>flowboxchild>button:checked label {
  color: #14141B;
}
  /* CRITICAL */
  


/* =========================
VOLUME SLIDER (iOS STYLE)
========================= */
scale trough {
background-color: unset;
border-radius: 999px;
min-height: 6px;
}

scale highlight {
background-color: @red;
border-radius: 999px;
}

scale slider {
min-width: 0;
min-height: 0;
background-color: unset;
box-shadow: none;
opacity: 0;
}

/* =========================
GENERIC HOVER
========================= */
button:hover {
background-color: alpha(@white, 0.1);
}

.notification-row:hover .notification-content {
  box-shadow:
    inset 0 0 0 2px alpha(@red, 0.5),
}