@import 'colors/normal.css';
* {
    border: none;

    font-family: "JetBrainsMono Nerd Font";
    font-size: 20px;
    font-weight: bold;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar{
    background: transparent;
}

tooltip {
    background:@bg1;
    border-radius:12px;
}

tooltip label{
    color:white;
    padding:6px;
}
#workspaces{
    background: @bg0;
    padding: 5px 3px;
    border-radius: 6px;
    border: 1px solid @bg2;
    margin: 0 0 0 12px;
}
#workspaces button {
    padding: 0px 4px;
    margin: 0px 2px;
    background: @gray;
    color:transparent;
    transition: all 250ms ease-in-out;
}
#workspaces button.active {
    padding: 0px 4px;
    min-width: 50px;
    margin: 0px 2px;
    background: @red;
    
    transition: all 250ms ease-in-out;
    color: @gray;
}
#workspaces button:hover {
    padding: 0px 4px;
    min-width: 50px;
    margin: 0px 2px;
    border-radius: 16px;
    background: @highlight;
    transition: all 250ms ease-in-out;
    color: @gray;
    background-size: 400% 400%;
}
#workspaces button.2urgent {
    padding: 0px 4px;
    margin: 0px 2px;
    background: @yellow;
    
    transition: all 250ms ease-in-out;
    color: @gray;
    background-size: 400% 400%;
}
#pulseaudio,#network,#clock,#custom-menu,#custom-start{
    background: @bg0;
    padding: 0 15px 0 15px;
    margin: 0 0 0 6px;
    border-radius: 20px;
}
#custom-menu{
    color:white;
}
#network{
    color:goldenrod;
}
#pulseaudio{
    color:rgb(236, 113, 255);
}
#clock{
    color:antiquewhite;
}
#custom-start{
    padding-left: 3px;
    padding-right:11px;
    color:turquoise;
    border-radius: 999px;
}