* {
    border: none;

    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    min-height: 0;
    margin: 0;
    padding: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: rgba(43, 48, 59, 0.5);
    border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
    color: white;
}

#clock {
    font-weight: 700;
    background: rgba(204, 255, 0, 0.7);
    color: rgb(70, 87, 0);
    margin: 0 3px;
    padding: 0 5px;
    border-radius:5px;
}

#custom-start {
    padding: 0 3px;
    padding-right: 1px;
    min-width:1px;
    margin: 0 3px;
    font-size:15px;
    background: rgba(31, 31, 31, 0.7);
    color: rgb(147, 242, 255);
    border: 1px solid rgb(107, 0, 0); 
    border-radius: 100px;
}

#custom-menu {
    padding: 0 5px;
    min-width:1px;
    margin: 0 3px;
    font-size:18px;
    font-weight:700;
    background: rgba(31, 31, 31, 0.7);
    color: rgb(147, 242, 255);
    border: 1px solid rgb(107, 0, 0); 
    border-radius: 5px;
}

#network {
    background: rgba(0, 242, 214, 0.7);
    padding: 0 5px;
    margin: 0 2px;
    color: rgb(0, 20, 24);
    border-radius: 5px;
}

#pulseaudio {
    background: rgba(191, 0, 234, 0.7);
    padding: 0 5px;
    margin: 0 3px;
    color: rgb(53, 0, 71);
    border-radius: 5px;
}

#workspaces button {
    transition: all 250ms ease-in-out;
    padding: 0 5px;
    margin: 0 2px;
    background: rgba(31, 31, 31, 0.7);
    color: rgb(237, 237, 237);
    border: 1px solid rgb(107, 0, 0); 
    border-radius: 7px;
}

#workspaces button.active {
    transition: all 250ms ease-in-out;
    min-width: 50px;
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 20px;
}

#workspaces {
    transition: all 250ms ease-in-out;
}